@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 0, 0, 0;
  --background-rgb: #fff
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 255, 255, 255;
    --background-rgb: #262626
  }
}

html {
  scroll-behavior: smooth;
}

body,
#dark-mode {
  color: rgb(var(--text-rgb));
  background: var(--background-rgb);
}

.stroke-color {
  stroke: rgb(var(--text-rgb));
}

#scroll-container,
#mtg-container {
  overflow-x: scroll;
  white-space: nowrap;
}

/*to hide scrollbar in firefox*/
#mtg-container {
  scrollbar-width: none;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  /* Hide scrollbar in IE10+ */
}

/* to hide scrollbar in chrome/safari*/
#mtg-container::-webkit-scrollbar {
  display: none;
}

#mtg-wrapper {
  animation: scroll 20s linear infinite;
}

#mtg-wrapper:hover {
  animation-play-state: paused
}

#mtg-heading {
  white-space: nowrap;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-220px * 4));
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.property-badge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Navbar animation */
.scale-in-tr {
  -webkit-animation: scale-in-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}